<!DOCTYPE html>
<html>
  <head>
    <title>Silvia's Period Calendar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  </head>
  <body>
    <h1>Silvia's Period Calendar</h1>
    <form method="post" action="/add_date">
      <label for="date">Enter the start date of your last period:</label>
      <input type="date" id="date" name="date" required />
      <button type="submit">Add Date</button>
    </form>
    <form method="post" action="/clear_dates">
      <button type="submit">Clear All Dates</button>
    </form>
    <div id="calendar"></div>

    <script>
      $(document).ready(function() {
          var periodStartDates = {{ dates | safe }};
          var events = [];

          function renderCalendar(events) {
              $('#calendar').fullCalendar('destroy'); // Destroy the existing calendar
              $('#calendar').fullCalendar({
                  events: events
              });
          }

          if (periodStartDates.length > 0) {
              periodStartDates.forEach(function(dateStr) {
                  $.ajax({
                      url: '/get_periods',
                      type: 'POST',
                      contentType: 'application/json',
                      data: JSON.stringify({ 'start_date': dateStr }),
                      success: function(periods) {
                          periods.forEach(function(period) {
                              events.push({
                                  title: 'Expected Period',
                                  start: period.start,
                                  end: period.end,
                                  color: 'red'
                              });
                          });
                          renderCalendar(events);
                      }
                  });
              });
          } else {
              renderCalendar(events); // Render an empty calendar
          }
      });
    </script>
  </body>
</html>
